<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/spa.css">
    <title>Tratamiento Facial Hidratante - Spa</title>
</head>

<body>
    <!-- Main Content -->
    <main role="main" class="container mt-5">
        <!-- Detalles del Servicio -->
        <section id="detalle-servicio">
            <h2 id="servicio-nombre" class="text-center">Tratamiento Facial Hidratante</h2>

            <div class="text-center mb-4">
                <p>Recupera la suavidad y luminosidad de tu rostro con nuestro tratamiento facial hidratante, diseñado para nutrir profundamente la piel y mantenerla hidratada.</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <img src="/images/pexels-arina-krasnikova-6663365.jpg" class="img-fluid rounded shadow-lg" alt="Tratamiento Facial Hidratante">
                </div>

                <div class="col-md-6 mt-4 mt-md-0">
                    <p><strong>Duración:</strong> 60 minutos</p>
                    <p><strong>Costo:</strong> $70 USD</p>
                    <p><strong>Beneficios:</strong></p>
                    <ul>
                        <li>Hidratación profunda y restauración de la piel</li>
                        <li>Mejora la textura y elasticidad de la piel</li>
                        <li>Prevención de signos de envejecimiento</li>
                        <li>Proporciona una sensación de frescura y luminosidad</li>
                    </ul>

                    <a href="/" class="btn btn-primary mt-3">Volver a la Página Principal</a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 Todos los derechos reservados | GP Enfermería Estética y Spa</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
