<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/spa.css">
    <title>Paquete Relax para Parejas - Spa</title>
</head>

<body>
    <!-- Main Content -->
    <main role="main" class="container mt-5">
        <!-- Detalles del Paquete -->
        <section id="detalle-paquete">
            <h2 id="paquete-nombre" class="text-center">Paquete Relax para Parejas</h2>

            <div class="text-center mb-4">
                <p>Disfruta de un día completo de relajación en pareja con nuestro exclusivo paquete de spa. Relájate juntos con masajes, baños de vapor y mucho más.</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <img src="/images/pexels-olly-3767403.jpg" class="img-fluid rounded shadow-lg" alt="Paquete Relax para Parejas">
                </div>

                <div class="col-md-6 mt-4 mt-md-0">
                    <p><strong>Duración:</strong> 120 minutos</p>
                    <p><strong>Costo:</strong> $120 USD por pareja</p>
                    <p><strong>Incluye:</strong></p>
                    <ul>
                        <li>Masaje relajante para dos</li>
                        <li>Acceso a baños de vapor</li>
                        <li>Sesión de aromaterapia</li>
                        <li>Relax en jacuzzi privado</li>
                    </ul>

                 <a href="@Url.Action("Spa", "Home")" class="btn btn-outline-secondary-custom">Regresar</a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 Todos los derechos reservados | GP Enfermería Estética y Spa</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
