<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/spa.css">
    <title>Botox Estético - Spa</title>
</head>

<body>
    <!-- Main Content -->
    <main role="main" class="container mt-5">
        <!-- Detalles del Servicio -->
        <section id="detalle-servicio">
            <h2 id="servicio-nombre" class="text-center">Botox Rejuvenecedor</h2>

            <div class="text-center mb-4">
                <p>Redefine tu rostro y suaviza las arrugas con nuestro tratamiento de Botox Estético, que te ayudará a mantener una apariencia fresca y rejuvenecida.</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <img src="/images/pexels-cottonbro-7581584.jpg" class="img-fluid rounded shadow-lg" alt="Botox Estético">
                </div>

                <div class="col-md-6 mt-4 mt-md-0">
                    <p><strong>Duración:</strong> 30 minutos</p>
                    <p><strong>Costo:</strong> $200 USD</p>
                    <p><strong>Beneficios:</strong></p>
                    <ul>
                        <li>Reducción de arrugas y líneas finas</li>
                        <li>Mejora la firmeza de la piel</li>
                        <li>Apariencia rejuvenecida y fresca</li>
                        <li>Tratamiento no invasivo</li>
                    </ul>

                     <a href="@Url.Action("Estetica", "Home")" class="btn btn-outline-secondary-custom">Volver a Estética</a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 Todos los derechos reservados | GP Enfermería Estética y Spa</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
