<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/spa.css">
    <title>Baños de Vapor - Spa</title>
</head>

<body>
    <!-- Main Content -->
    <main role="main" class="container mt-5">
        <!-- Detalles del Servicio -->
        <section id="detalle-servicio">
            <h2 id="servicio-nombre" class="text-center">Baños de Vapor</h2>

            <div class="text-center mb-4">
                <p>Disfruta de la experiencia única de nuestros baños de vapor, ideales para limpiar tu piel, rejuvenecer y relajarte profundamente.</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <img src="/images/pexels-chris-f-38966-1582457.jpg" class="img-fluid rounded shadow-lg" alt="Baños de Vapor">
                </div>

                <div class="col-md-6 mt-4 mt-md-0">
                    <p><strong>Duración:</strong> 30 minutos</p>
                    <p><strong>Costo:</strong> $40 USD</p>
                    <p><strong>Beneficios:</strong></p>
                    <ul>
                        <li>Desintoxicación de la piel</li>
                        <li>Relajación muscular</li>
                        <li>Mejora la circulación sanguínea</li>
                        <li>Estimulación del sistema inmunológico</li>
                    </ul>

                    <a href="/" class="btn btn-primary mt-3">Volver a la Página Principal</a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 Todos los derechos reservados | GP Enfermería Estética y Spa</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

